[Unit]
Description=Prospect news from wikinews
ConditionPathExists=/home/sentinel/news/server
After=network.target

[Service]
Type=simple
User=sentinel
Group=sentinel
WorkingDirectory=/home/sentinel/news/server
ExecStart=/usr/local/go/bin/go run sources/wikinews/main.go sources/wikinews/filterAndExpandSource.go sources/wikinews/saveSource.go sources/wikinews/fetchWikinews.go
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wikinews

[Install]
WantedBy=multi-user.target
